/*
	Copyright 2014-2019 Cédric Levieux, Parti Pirate

	This file is part of Personae.

    Personae is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Personae is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Personae.  If not, see <http://www.gnu.org/licenses/>.
*/

@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-r-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

nav.footer {
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
	font-family: Ubuntu, Verdana, Geneva, sans-serif;
	color: black;
}

nav.logo {
	float: left;
}

.header {
	font-family: Ubuntu, Verdana, Geneva, sans-serif;
	text-align: center;
	text-shadow: lightgrey 3px 3px 3px;
}

a {
	color: inherit;
}

/*
h2, h3 {
	font-family: Ubuntu, Verdana, Geneva, sans-serif;
	text-shadow: lightgrey 3px 3px 3px;
}
*/

.group ul li {
    display: inline-block;
    border: black 1px solid;
	margin: 5px;
	padding: 2px 5px;
    width: calc(25% - 20px);
    background: inactivecaptiontext;
    border-radius: 10px;
    box-shadow: grey 5px 5px;
}

.group ul li.voting, .group ul li.eligible, .group ul li.not-connected {
    background: white;
}

.group ul li h2 {
	margin-top: 10px;
}

.no-voting button.delegate-button {
	display: none;
}

.no-eligible button.candidate-button {
    display: none;
}

.group ul li.not-mine {
    display: none;
}

.simply-hidden {
	display: none;
}

body {
/*
	background-image: url(../images/background_lightgrey.png);
    background-size: cover;
*/    
}

.watermark {
    position: absolute;
    top: 500px;
    left: -150px;
    z-index: -10;
    width: 50%;
    height: 0;
    overflow: hidden;
}

.watermark-inside {
	background-image: url(../images/logo_pp_voile.svg) !important; 
    background-repeat: no-repeat;
    opacity: 0.02;
    background-size: contain;
    height: 1000px;
}

.breadcrumb {
	background-color: rgba(245,245,245,0.55);
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

.row-striped > .row:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.row-hover > .row:hover {
    background-color: #f5f5f5;
}

/*
.delegative-container {
    border-width: 1px;
    border-style: solid;
}
*/

/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-bottom > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-bottom > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-bottom > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-bottom > .nav-tabs > li > a:hover,
.tabs-bottom > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-bottom > .nav-tabs > .active > a,
.tabs-bottom > .nav-tabs > .active > a:hover,
.tabs-bottom > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-bottom {
    padding-bottom: 0;
}

div, p ul, li, h1, h2, h3, h4, h5, h6, button, label {
	font-family: ubunturegular, ubuntu !important;
}

ul.givers-list {
    list-style-type: none;
}