/*
    Copyright 2015 Cédric Levieux, Parti Pirate

    This file is part of PPMoney.

    PPMoney is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    PPMoney is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with PPMoney.  If not, see <http://www.gnu.org/licenses/>.
*/
nav.footer {
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
	font-family: Ubuntu, Verdana, Geneva, sans-serif;
	color: black;
}

nav.logo {
	float: left;
}

.header {
	font-family: Ubuntu, Verdana, Geneva, sans-serif;
	text-align: center;
	text-shadow: lightgrey 3px 3px 3px;
}

a {
	color: inherit;
}

/*
h2, h3 {
	font-family: Ubuntu, Verdana, Geneva, sans-serif;
	text-shadow: lightgrey 3px 3px 3px;
}
*/

.group ul li {
    display: inline-block;
    border: black 1px solid;
	margin: 5px;
	padding: 2px 5px;
    width: calc(25% - 20px);
    background: inactivecaptiontext;
    border-radius: 10px;
    box-shadow: grey 5px 5px;
}

.group ul li.voting, .group ul li.eligible, .group ul li.not-connected {
    background: white;
}

.group ul li h2 {
	margin-top: 10px;
}

.no-voting button.delegate-button {
	display: none;
}

.no-eligible button.candidate-button {
    display: none;
}

.group ul li.not-mine {
    display: none;
}

.simply-hidden {
	display: none;
}

body {
    background-image: url(../images/background_lightgrey.png);
    background-size: cover;	
}

.breadcrumb {
	background-color: rgba(245,245,245,0.55);
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}

a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

.row-striped > .row:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.row-hover > .row:hover {
    background-color: #f5f5f5;
}

/*
.delegative-container {
    border-width: 1px;
    border-style: solid;
}
*/